.search-result {
    max-height: 455px;
    width: 320px;
    position: absolute;
    left: 0;
    top: 70px;
    background-color: white; 
    overflow-y: auto; 
    overflow-x: hidden;
    box-shadow: 5px 5px 5px 2px #C8C9CC;
    padding: 2px 5px;
}

