.friend-requesting-button {
    height: 36px;
    width: fit-content;
    background-color: #2DCC70;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 0 10px;
}

.friend-requesting-button:hover {
    cursor: pointer;
    background-color: #28B864;
}

.friend-requesting-button > span {
    font-size: 19px;
    font-weight: bold;
    color: white;
}

.friend-requesting-button > img {
    height: 16px;
    width: 16px;
    margin: 0 2px;
}