.navbar {
    display: flex;
    flex: row;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    width: 100%;
    background-color: #2DCC70;
    position: fixed;
    top: 0;
    z-index: 1;
}

.navbar-container {
    height: 56px;
    position: relative;
}

.navbar .logo {
    height: 65px;
    width: 65px;
}

.navbar-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
}

.navbar-menu li {
    margin: 0 10px;
    height: 40px;
    width: 40px;
    background-color: #76FFAF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-menu li:hover {
    opacity: 0.5;
    cursor: pointer;
}

.navbar-menu li img {
    height: 20px;
    width: 20px;
}