.navbar {
    display: flex;
    flex: row;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    width: 100%;
    background-color: #2DCC70;
    position: fixed;
    top: 0;
    z-index: 1;
}

.navbar-container {
    height: 56px;
    position: relative;
}

.navbar .logo {
    height: 65px;
    width: 65px;
}

.navbar-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
}

.navbar-menu > li {
    margin: 0 5px;
    height: 40px;
    width: 40px;
    background-color: #E4E6EB;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-menu > li:hover {
    cursor: pointer;
    background-color: #D8DADF;
}

.navbar-menu > li > img {
    height: 20px;
    width: 20px;
}

.navbar-profile-part {
    text-decoration: none;
    margin-right: 5px;
}

.navbar-profile-part > li {
    display: flex;
    align-items: center;
    border-radius: 30px;
    justify-content: space-between;
    height: 36px;
    background-color: #E4E6EB;
    padding: 0 5px;
    color: black;
    font-weight: bold;
}

.navbar-profile-part > li:hover {
    background-color: #D8DADF;
}

.navbar-profile-part > li > img {
    height: 28px;
    width: 28px;
    border-radius: 50%;
    margin-right: 5px;
}